*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(fondo6.jpg);
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}
.navegar a {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navegar a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navegar .btnforms-popup { 
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navegar .btnforms-popup:hover {
    background: #fff;
    color: #162938;
}
#sp{
    margin: 0px 10px 0px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 2px;
}
.forms{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.forms.shrink {
    height: 400px; /* Altura reducida */
}
.forms.shrink2 {
    height: 99px; /* Altura reducida */
}
.forms.shrink3 {
    height: 315px; /* Altura reducida */
}
.forms.active-popup{
    transform: scale(1);
}
h2{
    font-family: system-ui;
    font-size: 2en;
    text-align: center;
    color: #002d5a;
}
.hiper{
    margin-top: 5px;
    height: 35px
}
.op{
    font-weight: 500;   
    font-family: system-ui;
    color: #002d5a;
    text-align: center;
    display: block;
    justify-content: space-between;
}
.op input{
    cursor: pointer;
    accent-color: #002d5a;
}
select{
    border-radius: 20px;
    border: none;
    background: #002d5a;
    color: #fff;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.info{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #002d5a;
    margin: 0px 0;
}
.info label{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #002d5a;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.info input:focus~label,
.info input:valid~label {
    top: -5px;
}
.info input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1f2932;
    font-weight: 600;
    padding: 0 35px 0 5px;
    font-family: 'Poppins', sans-serif;
}
.slc{
    font-family: system-ui;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    color:#fff;
}
.check{
    cursor: pointer;
    font-weight: 400;
    font-family: system-ui;
    color:#002d5a;
    text-align: center;
    align-items: center;
}
.check input{
    cursor: pointer;
    accent-color: #002d5a;
}
.fecha{
    font-weight: 700;
    font-family: system-ui;
    color: #002d5a;
    text-align: center;
    align-items: center;
}
.fecha input{
    cursor: pointer;
    background: #002d5a;
    color: white;
    border: none;
}
.info .icon{
    position: absolute;
    right: 8px;
    line-height: 57px;
    color:#002d5a;
    font-size: 1.2em;
}
.forms .salir{
    position: absolute;
    top: 0;
    right: 0;   
    width: 45px;
    height: 45px;
    background: #002d5a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.forms .numberone{
    /* display: none; */ 
}

.forms .numberone.active{
    transition: none;
    transform: translateX(-400px);
}
.forms .numbertwo.active{
    transform: translateX(0); /* Visible cuando se activa */
}
.forms .numberthree.active{
    transform: translateX(0); /* Visible cuando se activa */
}
.forms .numberfour.active{
    transform: translateX(0); /* Visible cuando se activa */
}
.forms .numberfive.active{
    transform: translateX(0); /* Visible cuando se activa */
}
.forms .numberone{
    width: 100%;
    transition: .10s ease;
    transition: none;
    transform: translateX(0);
    padding: 40px;
}
.forms .numbertwo{
    position: absolute;
    transform: translateX(400px); /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease;
    padding: 40px;
    text-align: center;
    width: 100%;
}
.forms .numberthree {
    position: absolute;
    transform: translateX(400px); /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease;
    padding: 40px;
    text-align: center;
    width: 100%;
}
.forms .numberfour {
    position: absolute;
    transform: translateX(400px); /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease;
    padding: 40px;
    text-align: center;
    width: 100%;
}
.forms .numberfive {
    position: absolute;
    transform: translateX(400px); /* Inicialmente fuera de la vista */
    transition: transform 0.5s ease;
    padding: 40px;
    text-align: center;
    width: 100%;
}
#next{
    width: 100%;
    height: 45px;
    background: #002d5a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 530;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px; /* Espaciado extra para efecto moderno */
}
#next2{
    width: 100%;
    height: 45px;
    background: #002d5a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 530;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px; /* Espaciado extra para efecto moderno */
}
#next3{
    width: 100%;
    height: 45px;
    background: #002d5a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 530;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px; /* Espaciado extra para efecto moderno */
}
#next4{
    width: 100%;
    height: 45px;
    background: #002d5a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 530;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px; /* Espaciado extra para efecto moderno */
}
#submit{
    width: 100%;
    height: 45px;
    background: #002d5a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 530;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px; /* Espaciado extra para efecto moderno */
}
.fichero{
    color:#002d5a;
    font-weight: 700;
    font-family: system-ui;
    text-align: center;
    align-items: center;
}
.fichero input{ 
    cursor: pointer;
    background: #002d5a;
    color: white;
}
.procesador{
    font-weight: 500;
    color:#002d5a;
    font-family: system-ui;
    text-align: center;
    align-items: center;
}
.procesador input{
    cursor: pointer;
    accent-color: #002d5a;
}
#mrc{
    margin: 0px 5px 0px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 1px;
}
.col{
    color:#002d5a;
    font-family: system-ui;
    text-align: center;
    align-items: center;
    font-weight: 500;   
}
.col input{
    border: none;
    cursor: pointer;
}
textarea{
    text-align: center;
    background: white;
    border-color: #002d5a;
    border-radius: 10px;
    text-align: center;
    color: #002d5a;
    font-weight: 700;   
    font-family: system-ui;
}
.hora label{
    color: #002d5a;
    font-weight: 500;   
    font-family: system-ui;
}
.hora input{
    background-color: #002d5a;
    border: none;
    color: white;
    cursor: pointer;
    font-family: system-ui;
}